.upload-link {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .upload-link:hover {
    text-decoration: underline;
  }


  .registerBox {
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .flexTextBox {
    gap: small;
    width: 90000;
  }