/* Styles for the dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 4px 0; /* Adjusted padding */
  border-radius: 4px;
  min-width: 50px; /* Adjusted min-width */
  z-index: 1;
  right: 0; /* Position to the right */
  left: auto; /* Reset left to auto */
}

.dropdown-content button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Make button fill the width */
  height: 30px; /* Adjusted height */
  padding: 4px 8px; /* Adjusted padding */
  margin: 2px 0; /* Decreased vertical margin */
  background-color: #fff; /* White background color */
  border-radius: 4px; /* Rounded corners */
  color: #606060;
  font-size: 15px; /* Adjusted font size */
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for background color */
  border: 1px solid transparent; /* Transparent border */
}

.dropdown-content button:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

/* Change logout button color to red */
.dropdown-content .logout-button {
  background-color: #ff0000 !important; /* Red background color */
  color: #fff !important; /* Red text color */
}

.dropdown-content .logout-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Show the dropdown when clicked */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styles for the button */
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropbtn:hover .profile-icon {
  color: #000;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Styles for the profile icon */
.profile-icon {
  font-size: 30px; /* Increased font size for the profile icon */
  color: #606060;
  transition: color 0.3s ease;
}
