/* SideNavBarDonor.css */
.ant-menu-item:hover {
    background-color: lightblue; /* Change background color on hover */
  }
  
  .ant-menu-item a {
    color: inherit; /* Ensure link text color matches the default color */
  }

  .menu-item:hover {
    background-color: #1890ff;
  }
  /* SideNavBarDonor.css */
.ant-menu-item:hover {
  background-color: lightblue; /* Change background color on hover */
}

/* Change link text color on hover */
.ant-menu-item:hover a {
  color: white;
}
